.ToltipContainer {
    display: grid;
    grid-template-columns: auto auto;
}

.ToltipContainer .sidebar {
    border: 2px;
    border-color: #72c1db;
    background: #CEF3FF;
    display: grid;
    grid-template-rows: 10% 20% 60% 10%;
}


.ToltipContainer .sidebar :first-child {
    Top: 20px;
    margin: auto;
    text-align: center;
}

.dashbord {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 5vh;
    line-height: 61px;
    color: #0884FF;
    margin: auto;
}

.dashbordVecotrcontainer {
    margin-left:20px;
    display: flex !important;
}

.ToltipContainer .sidebar :nth-child(2) {
    top: 141px;
    margin: auto;
    display: grid;
    grid-template-columns: 30% 30%;
}


.mainContainer nav {
    background-color: white;
    border-bottom: 2px solid;
    border-color: rgb(236, 233, 233);
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 5px;
}

.mainContainer nav div p {
    font-family: Titillium Web;
    font-size: 25px;
    font-weight: 600;
    letter-spacing: 0em;
    text-align: left;
    opacity: 80%;
    margin-left: 10px;
    margin-top: 5px;
}

.form-outline {
    margin-left: "auto"
}

.userprofile {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: 2px;
}

.buttonsandContactcontainer {
    margin: 20px;
    background: #FBFBFB;
    border-radius: 15px;
}

.buttonsContainer {
    display: grid;
    grid-template-columns: auto auto ;
    padding: 10px;
}

.buttonsContainer :first-child button {
    margin-right: 20px;
    background-color: white;
    color: black;
    font-family: Titillium Web;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.buttonsContainer :last-child {
    margin-left: auto;
}


.buttonsContainer :last-child button {
    margin-left: 20px;
    background-color: white;
    color: black;
    font-family: Titillium Web;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    background: #FFFFFF;
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}




.ContactTable thead tr {
    background: #B3DFFF;
    border-radius: 15px;
}

.ContactTable thead td {
    font-family: Titillium Web;
    font-size: 20px;
    font-weight: 600;
    line-height: 30px;
    letter-spacing: 0em;
    text-align: left;
    Opacity: 80%;

}

.navbar {
    display: grid;
    grid-template-columns: auto auto auto auto;
}

.navbar p {
    font-family: 'Titillium Web';
    font-style: normal;
    font-weight: 600;
    font-size: 30px;
    Top: 25px;
    color: #454545;
    opacity: 0.8;
    margin-top: 20px;
}

.UserProfile {
    display: grid;
    grid-template-columns: auto auto;
}


body.active-modal {
    overflow-y: hidden;
}

.modal, .overlay {
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: fixed;
}

.overlay {
    background: rgba(49,49,49,0.8);
}
.modal-content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    line-height: 1.4;
    background: #f1f1f1;
    padding: 14px 28px;
    border-radius: 3px;
    max-width: 600px;
    min-width: 300px;
}

.close-modal {
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 5px 7px;
}

.logout-button{
    text-align: center;
    font-weight: 700;
}