.ToltipContainer {
  width: 100vw;
  height: 100vh;
  display: flex;
}

.ToltipContainer .sidebar {
  height: 100vh;
  width: 10vw;
  min-width: 200px;
  left: 0px;
  top: 0px;
  border: 2px;
  border-color: #72c1db;
  background: #cef3ff;
  display: grid;
  grid-template-rows: 10% 20% 60% 10%;
}

.ToltipContainer .sidebar :first-child {
  top: 20px;
  margin: auto;
  text-align: center;
}

.dashbord {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 5vh;
  line-height: 61px;
  color: #0884ff;
  margin: auto;
}

.dashbordVecotrcontainer {
  margin-left: 20px;
  display: flex !important;
}

.ToltipContainer .sidebar :nth-child(2) {
  top: 141px;
  margin: auto;
  display: grid;
  grid-template-columns: 30% 30%;
}

.mainContainer {
  width: 90vw;
  height: 100vh;
  overflow: hidden;
}

.mainContainer nav {
  background-color: white;
  border-bottom: 2px solid;
  border-color: rgb(236, 233, 233);
  display: grid;
  grid-template-columns: auto auto auto;
  padding: 5px;
}

.mainContainer nav div p {
  font-family: Titillium Web;
  font-size: 25px;
  font-weight: 600;
  letter-spacing: 0em;
  text-align: left;
  opacity: 80%;
  margin-left: 10px;
  margin-top: 5px;
}

.form-outline {
  margin-left: "auto";
}

.input-group button {
  margin-left: -20px;
}

.userprofile {
  display: grid;
  grid-template-columns: auto auto;
  margin-left: 2px;
}

.buttonsandContactcontainer {
  margin: 20px;
  background: #fbfbfb;
  border-radius: 15px;
}

.buttonsContainer {
  display: grid;
  grid-template-columns: auto auto;
  padding: 10px;
}

.buttonsContainer :first-child button {
  margin-right: 20px;
  background-color: white;
  color: black;
  font-family: Titillium Web;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  background: #ffffff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.buttonsContainer :last-child {
  margin-left: auto;
}

.buttonsContainer :last-child button {
  margin-left: 20px;
  background-color: white;
  color: black;
  font-family: Titillium Web;
  font-size: 18px;
  font-weight: 300;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  background: #ffffff;
  box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}

.ContactTable {
  margin-top: 2%;
  padding: 10px;
  overflow-y: scroll;
  height: calc(97vh - 190px);
}

.ContactTable::-webkit-scrollbar-thumb {
  height: 100px;
  width: 20px;
  visibility: visible;
  border-radius: 12px;
  background: rgb(13 148 240 / 44%);
}

.ContactTable::-webkit-scrollbar-track {
  background-color: transparent;
}

.ContactTable::-webkit-scrollbar {
  background-color: transparent;
  width: 8px;
}

.ContactTable::-webkit-scrollbar-button {
  height: 20px;
}

.ContactTable thead {
  box-sizing: border-box;
  border-radius: 10%;
  position: sticky;
  top: -10px;
  z-index: 10px;
  overflow: hidden;
}

.ContactTable thead tr {
  background: #b3dfff;
  border-radius: 15px;
}

.ContactTable thead td {
  font-family: Titillium Web;
  font-size: 20px;
  font-weight: 600;
  line-height: 30px;
  letter-spacing: 0em;
  text-align: left;
  opacity: 80%;
}

.navbar {
  display: grid;
  grid-template-columns: auto auto auto auto;
}

.navbar p {
  font-family: "Titillium Web";
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  top: 25px;
  color: #454545;
  opacity: 0.8;
  margin-top: 20px;
}

.UserProfile {
  display: grid;
  grid-template-columns: auto auto;
  margin-right: 20%;
}

body.active-modal {
  overflow-y: hidden;
}

.btn-modal {
  padding: 10px 20px;
  display: block;
  margin: 100px auto 0;
  font-size: 18px;
  cursor: pointer;
}

.modal,
.overlay {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: fixed;
}

.overlay {
  background: rgba(49, 49, 49, 0.8);
}
.modal-content {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  line-height: 1.4;
  background: #f1f1f1;
  padding: 14px 28px;
  border-radius: 3px;
  max-width: 600px;
  min-width: 300px;
}

.close-modal {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px 7px;
}

.logout-button {
  text-align: center;
  font-weight: 700;
}

.logout-button {
  cursor: pointer;
}
